$browser-context: 14; 

@function rem($pixels, $context: $browser-context) {
  @return  #{calc($pixels / $context)}rem;
}

@function toRGB ($color) {
    @return red($color) + ", " + green($color) + ", " + blue($color);
}

@function toRGB ($color) {
  @return red($color) + ", " + green($color) + ", " + blue($color);
}

@function maxWidthPage () {
  @return red($color) + ", " + green($color) + ", " + blue($color);
}

@mixin max-width-page {
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
}

@mixin call-to-action {
  align-items: center;
  background-color: var(--fx-cian);
  border-radius: 12px;
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: rem(16);
  font-weight: 600;
  height: 47px;
  justify-content: center;
  transition: all linear 0.5s;
  min-width: 100px;
  &:hover {
    background-color: var(--fx-orange);
    opacity: 0.7;
  }
  &:focus {
    outline: none;
  }
}

