@import './mixins.scss';
@import './layout/colors';
@import './layout/header';
@import './layout/fonts';
@import './layout/map';


html, body {
  background-color: #FFFFFF;
  font-size: 14px;
  font-family: HelveticaNeue,Helvetica,sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

h1, h2, h3 {
  font-family: Montserrat,HelveticaNeue,Helvetica,sans-serif;
  font-weight: 800;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  &::-webkit-scrollbar {
    width: 5px;
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
      background-color: #aeaeae;
      border-radius: 20px;
  }

  &::-webkit-scrollbar-track {
      background: #ecebeb;
      border-radius: 20px;
  }

}

@for $i from 0 through 100 {
  .m-all-#{$i} {
      margin: #{$i}px !important;
  }
  .m-t-#{$i} {
    margin-top: #{$i}px !important;
  }
  .m-r-#{$i} {
    margin-right: #{$i}px !important;
  }
  .m-b-#{$i} {
    margin-bottom: #{$i}px !important;
  }
  .m-l-#{$i} {
    margin-left: #{$i}px !important;
  }
  .fx-gap-#{$i} {
    gap: #{$i}px;
  }
}

.content-wrapper {
  min-height: 70vh;
}
.fx-row {
  display: flex;
  &.wrap {
    flex-wrap: wrap;
  }
}

.fx-column {
  display: flex;
  flex-direction: column;
}

@for $i from 1 through 12 {
  .fx-column-#{$i} > * {
    flex: 1 1;
    width: calc(98% / #{$i}) !important;
  }
}

.content-wrapper {
  @include max-width-page;
}

button.bttn {
  @include call-to-action;
}