.Map {
  width: 100%;
}

.mapContainer {
  width: 100%;


  .addressDialogTopActions {
    align-items: center;
    cursor: pointer;
    display: flex;
    gap: 20px;
    height: 50px;
    margin: 40px 0;

    .search-input {
      align-items: center;
      border-radius: 24px 24px 0 0;
      background-color: transparent;
      display: flex;
      position: relative;
      .inputContainer {
        background-color: transparent;
        margin-top: 0px;
        margin-bottom: 0px;
        position: relative;
        width: max-content;
        z-index: 11;
        label {
          display: none;
        }
        input {
          border: 1px solid #28262B;
          border-radius: 24px;
          color: #28262B;
          font-weight: bold;
          height: 46px;
          padding: 0 46px;
          &::placeholder {
            font-size: rem(14) !important;
            color: #28262B;
          }
        }
        svg.search-icon {
            fill: #28262B;
            height: 14px;
            position: absolute;
            right: 18px;
            top: 50%;
            transform: translateY(-6px);
            width: 14px;
            z-index: 11;
        }
      }
      .search-input-results {
        background-color: white;
        border: 1px solid #707070;
        border-radius: 0 0 6px 6px;
        bottom: 8px;
        height: max-content;
        position: absolute;
        padding: 22px 0px 2px;
        top: 50%;
        width: 100%;
        z-index: 10;
        &.load {
          bottom: 8px;
          .loader-box {
            padding-top: 10px;
          }
        }
        .search-input-result-item {
          align-items: center;
          cursor: pointer;
          display: grid;
          grid-template-columns: max-content 1fr;
          min-height: 37px;
          gap: 10px;
          padding: 6px 10px;
          width: 100%;
          &:hover {
            background-color: #e5e5e580;
          }
          svg {
            fill: #222222;
            height: 18px;
            width: 12px;
          }
          span {
            font-size: rem(14);
          }
        }
      }
    }

    .addressDialogTopActionsItem {
      padding: 0 20px;
      svg {
        height: 20px;
        width: 20px;
        fill: var(--fx-cian);
      }
      span {
        color: var(--fx-cian);
        font-size: rem(18);
        font-weight: bold;
        line-height: rem(22);
      }
    }
  }
  .googlemapWrapper {
    border: 1px solid #28262B;
    border-radius: 8px;
    height: max-content;
    padding: 2px;
    overflow: hidden;
    width: 100%;
  }
  #googlemap {
    box-sizing: border-box;
    height: 50vh;
    &.inactive {
      height: 0;
    }
  }

  .content-info-map {
    display: flex;
    flex-direction: column;
    padding: 10px;
    .content-info-location-img {
      display: flex;
      justify-content: center;
      margin: 6px 0;
      img {
        height: 40px;
        width: 40px;
      }
    }

    .content-info-location-title{
      color: #222222;
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      width: 100%;
    }
    .content-info-location-data {
      display: flex;
      flex-direction: column;
      gap: 2px;
      margin-top: 8px;
      .content-info-location-data-item {
        color: #222222;
        display: flex;
        gap: 6px;
      }
    }
  }
}